/* Modular Scale
 * https://alistapart.com/article/more-meaningful-typography
 * 1rem @ 1:1.333
 * 1.1665rem @ 1:1.333
 * http://www.modularscale.com/?1,1.1665&em&1.333
 */
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #236e76; }

.title-area {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0; }

nav {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

.menu {
  text-align: right; }
  .menu li {
    display: inline-block;
    margin: 0 1.333rem;
    padding: 0;
    font-size: 1.333rem;
    line-height: 1.333rem; }

.site-title {
  margin-bottom: 0.6665rem; }
  .site-title a {
    color: #1e5c62; }

.site-subtitle {
  font-style: italic; }
