<header>
  <div class="header">
    <div class="title-area">
      <h1 class="site-title"><a routerLink="/">{{siteTitle}}</a></h1>
      <p class="site-subtitle">{{siteSubtitle}}</p>
    </div>
    <nav>
      <ul class="menu">
        <li><a routerLink="/gen" routerLinkActive="active">Gen</a></li>
        <li><a routerLink="/morph" routerLinkActive="active">Morph</a></li>
        <li><a routerLink="/deriv" routerLinkActive="active">Deriv</a></li>
        <li><a routerLink="/frequen" routerLinkActive="active">Frequen</a></li>
      </ul>
    </nav>
  </div>
</header>
