{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "extends": [
    "standard",
    "react-app",
    "eslint:recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "jest"
  ],
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "space-before-function-paren": ["error", "always"],
    "jsx-quotes": ["error", "prefer-single"]
  }
}
