{
  "extends": [
    "standard",
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:jest/recommended"
  ],
  "plugins": [
    "react",
    "jest"
  ],
  "settings": {
    "react": {
      "version": "latest"
    }
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "semi": ["error", "never"],
    "quotes": ["error", "single"],
    "space-before-function-paren": ["error", "always"],
    "jsx-quotes": ["error", "prefer-single"]
  }
}