@import '../../variables'

.duplicate
  outline: 1px solid $red

.subps-row
  width: 100%

.subps-row, .control, .control-left, .control-right, .control-piece
  display: flex
  flex-direction: row
  justify-content: space-between
  align-items: baseline
  align-content: space-between

input
  flex-grow: 1

select, input
  padding: 1px
  margin: 1px

select
  text-align: center

.pattern-input
  width: 100%
  padding: 1px
  margin: 1px 0

.part, .results
  margin-top: $lnht

.section-title
  margin: 0
  font-style: italic
  font-weight: bold
  color: darken($blu, 8%)

.words-input
  width: $ms5

.control-piece, label
  margin-left: $lnht
  margin-right: $lnht
  vertical-align: middle
