/* Modular Scale
 * https://alistapart.com/article/more-meaningful-typography
 * 1rem @ 1:1.333
 * 1.1665rem @ 1:1.333
 * http://www.modularscale.com/?1,1.1665&em&1.333
 */
body {
  margin: 0;
  padding: 0;
  font-family: voces, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 100%;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.333rem;
  background-color: #fdfefe;
  color: #060d0e;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.header, .main, .footer {
  width: 74.55079rem;
  max-width: 92%;
  margin-left: auto;
  margin-right: auto;
  padding: 1.333rem 0; }

a {
  text-decoration: none; }
  a:link, a:visited {
    color: #35a5b0; }
  a:hover, a:active {
    color: #236e76; }
  a.active:link, a.active:visited {
    color: #d69529; }
  a.active:hover, a.active:active {
    color: #96681d; }

a:focus,
input:focus,
button:focus {
  outline: 1px solid rgba(35, 110, 118, 0.3); }

h1, h2, h3, h4, h5, h6, .lang, .menu {
  font-family: Lusitana, "Palatino Linotype", Palatino, serif; }

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility; }

h1 {
  color: #1e5c62;
  font-size: 3.15733rem;
  line-height: 3.999rem;
  margin: 0 0 2.666rem;
  padding: 0; }

h2 {
  color: #298089;
  font-size: 2.36859rem;
  line-height: 2.666rem;
  margin: 0 0 1.9995rem;
  padding: 0; }

h3 {
  color: #2c8791;
  font-size: 1.77689rem;
  line-height: 1.9995rem;
  margin: 0 0 1.333rem;
  padding: 0; }

h4 {
  color: #2f929d;
  font-size: 1.333rem;
  line-height: 1.9995rem;
  margin: 0 0 1.333rem;
  padding: 0; }

h5 {
  color: #339da9; }

h5, p {
  font-size: 1rem;
  line-height: 1.333rem;
  margin: 0 0 1.333rem;
  padding: 0; }

h6 {
  color: #35a5b0;
  font-size: 0.75019rem;
  line-height: 1.333rem;
  margin: 0 0 0.6665rem;
  padding: 0; }

textarea, input, select {
  font-family: voces, Helvetica, Arial, sans-serif; }

button, input, optgroup, select, textarea {
  font-size: 1rem; }

button, optgroup, select {
  font-family: voces, Helvetica, Arial, sans-serif; }

input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

select, input {
  height: 1.9995rem; }

input[type=checkbox], input[type=radio] {
  height: inherit;
  vertical-align: baseline; }

button, .btn {
  border: 1px solid rgba(35, 110, 118, 0.3);
  background: none;
  background-color: #fff;
  padding: 0.6665rem;
  border-radius: 3px; }
  button:hover, .btn:hover {
    background-color: #ebf8f9; }
  button:active, .btn:active {
    background-color: #edf6f7;
    -webkit-box-shadow: inset 0 0 0.6665rem #c9e5e8;
            box-shadow: inset 0 0 0.6665rem #c9e5e8; }
  button.btn-success, button.btn-neutral, button.btn-danger, .btn.btn-success, .btn.btn-neutral, .btn.btn-danger {
    color: #fff; }
  button.btn-success, .btn.btn-success {
    background-color: #2f929d; }
    button.btn-success:hover, .btn.btn-success:hover {
      background-color: #2d8b95; }
    button.btn-success:active, .btn.btn-success:active {
      background-color: #3a8087;
      -webkit-box-shadow: inset 0 0 0.6665rem #2b5e63;
              box-shadow: inset 0 0 0.6665rem #2b5e63; }
  button.btn-neutral, .btn.btn-neutral {
    background-color: #c18625;
    border: 1px solid rgba(150, 104, 29, 0.3); }
    button.btn-neutral:hover, .btn.btn-neutral:hover {
      background-color: #b88023; }
    button.btn-neutral:active, .btn.btn-neutral:active {
      background-color: #a57b36;
      -webkit-box-shadow: inset 0 0 0.6665rem #7f5e2a;
              box-shadow: inset 0 0 0.6665rem #7f5e2a; }
  button.btn-danger, .btn.btn-danger {
    background-color: #c01c25;
    border: 1px solid rgba(147, 21, 28, 0.3); }
    button.btn-danger:hover, .btn.btn-danger:hover {
      background-color: #b71a23; }
    button.btn-danger:active, .btn.btn-danger:active {
      background-color: #a22f35;
      -webkit-box-shadow: inset 0 0 0.6665rem #7b2428;
              box-shadow: inset 0 0 0.6665rem #7b2428; }
