/* Modular Scale
 * https://alistapart.com/article/more-meaningful-typography
 * 1rem @ 1:1.333
 * 1.1665rem @ 1:1.333
 * http://www.modularscale.com/?1,1.1665&em&1.333
 */
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

a {
  color: #060d0e;
  width: 49%;
  margin-bottom: 0.6665rem;
  padding: 0.75019rem;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  a:hover {
    outline: 1px solid rgba(35, 110, 118, 0.3); }
  a p {
    margin: 0; }
