@font-face {
  font-family: Doulos;
  src: url(../font/DoulosSIL-R.woff);
}
body {
  margin: 0;
  padding: 0;
  font-family: "Quattrocento Sans", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-size: 100%;
  font-size: 1em;
  font-size: 1rem;
  line-height: 1.333rem;
  background-color: #fbfdfd;
  color: #050c0d;
  box-sizing: border-box;
}

.header, .app, .footer {
  max-width: 74.55079rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1.333rem 0;
}

.header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  border-bottom: 1px solid #236d75;
}
.header .title-area {
  -webkit-box-ordinal-group: 1;
  -webkit-order: 0;
      -ms-flex-order: 0;
          order: 0;
}
.header nav {
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

main {
  min-height: 6.665rem;
}

.footer {
  text-align: center;
  border-top: 1px solid #236d75;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: #d69428;
}
a:hover, a:active {
  color: #96671c;
}
a:focus {
  outline: 1px solid rgba(35, 109, 117, 0.3);
}

.menu {
  text-align: right;
}
.menu li {
  display: inline-block;
  margin: 0 1.333rem;
  padding: 0;
  font-size: 1.333rem;
  line-height: 1.333rem;
}

.site-title {
  margin-bottom: 0.6665rem;
}
.site-title a {
  color: #1d5b62;
}

.site-subtitle {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6, .lang, .menu {
  font-family: Doulos, "Palatino Linotype", Palatino, serif;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  color: #1d5b62;
  font-size: 3.15733rem;
  line-height: 3.999rem;
  margin: 0 0 2.666rem;
  padding: 0;
}

h2 {
  color: #297f89;
  font-size: 2.36859rem;
  line-height: 2.666rem;
  margin: 0 0 1.9995rem;
  padding: 0;
}

h3 {
  color: #2b8691;
  font-size: 1.77689rem;
  line-height: 1.9995rem;
  margin: 0 0 1.333rem;
  padding: 0;
}

h4 {
  color: #2e919d;
  font-size: 1.333rem;
  line-height: 1.9995rem;
  margin: 0 0 1.333rem;
  padding: 0;
}

h5 {
  color: #329ca8;
}

h5, p {
  font-size: 1rem;
  line-height: 1.333rem;
  margin: 0 0 1.333rem;
  padding: 0;
}

h6 {
  color: #34a4b0;
  font-size: 0.75019rem;
  line-height: 1.333rem;
  margin: 0 0 0.6665rem;
  padding: 0;
}

.grid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
  -webkit-align-items: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
}
.grid a {
  color: #050c0d;
  width: 49%;
  margin-bottom: 0.6665rem;
}
.grid a:hover {
  outline: 1px solid rgba(35, 109, 117, 0.3);
}

/*# sourceMappingURL=styles.css.map */