// *********************************************************** //
// Fonts //

@font-face
	font-family: Doulos
	src: url(../font/DoulosSIL-R.woff)

$mainfont: "Quattrocento Sans", Helvetica, Arial, sans-serif
$langfont: Doulos, "Palatino Linotype", Palatino, serif

// *********************************************************** //
// Colors based on https://tallys.github.io/color-theory/ //

@function is-cool-color($color)
	@return hue($color) < 300 and hue($color) > 120

@function is-high-key-value($color)
	@return hue($color) > 30 and hue($color) < 140

@function is-high-key-value($color)
	@return hue($color) > 50 and hue($color) < 105

@function harmonious-mix($mix, $base)
	@if is-cool-color($mix)
		@if is-high-key-value($base)
			@return mix($mix, $base, 11%)
		@else
			@return mix($mix, $base, 16%)
	@else
		@if is-high-key-value($base)
			@return mix($mix, $base, 13%)
		@else
			@return mix($mix, $base, 23%)

@function mix-neutral($color)
	@if is-highest-key-value($color)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 19%)
		@else
			@return mix(complement($color), $color, 13%)
	@else if is-high-key-value($color)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 31%)
		@else
			@return mix(complement($color), $color, 23%)
	@else
		@if is-highest-key-value(complement($color))
			@return mix(complement($color), $color, 31%)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 26%)
		@else
			@return mix(complement($color), $color, 23%)

$blu-primary: hsla(194, 100%, 50%, 1) // Don't use this; use the mixed version
$ong-primary: hsla(33, 100%, 50%, 1) // Don't use this; use the mixed version

$blu: darken(harmonious-mix($ong-primary, $blu-primary), 5%)
$ong: harmonious-mix($blu-primary, $ong-primary)
$blu-light: lighten($blu, 20%)
$blu-dark: darken($blu, 15%)
$blu-neutral: mix-neutral($blu)
$ong-neutral: mix-neutral($ong)
$white: lighten($blu-neutral, 54.5%)
$black: darken($blu-neutral, 41%)

// *********************************************************** //
// Document styles //

body
	margin: 0
	padding: 0
	font-family: $mainfont
	font-size: 16px
	font-size: 100%
	font-size: 1em
	font-size: 1rem
	background-color: $white
	color: $black

.header, .app, .footer
	max-width: 1200px
	margin-left: auto
	margin-right: auto

.header
	display: flex
	justify-content: space-between
	align-items: baseline
	border-bottom: 1px solid $blu-dark
	.title-area
		order: 0
	nav
		order: 1
		flex-grow: 1

main
	min-height: 5rem

.footer
	text-align: center
	border-top: 1px solid $blu-dark

a
	&:link, &:visited
		color: $blu
	&:hover, &:active
		color: $blu-dark

.menu
	text-align: right
	li
		display: inline-block
		margin: 1rem
		padding: 0
	a
		text-decoration: none

.lang
	font-family: $langfont