// *********************************************************** //
// Fonts //

@font-face
	font-family: Doulos
	src: url(../font/DoulosSIL-R.woff)

$mainfont: "Quattrocento Sans", Helvetica, Arial, sans-serif
$langfont: Doulos, "Palatino Linotype", Palatino, serif

// *********************************************************** //
// Modular Scale //
// https://alistapart.com/article/more-meaningful-typography //
// 1rem @ 1:1.333 //
// 1.1665rem @ 1:1.333 //
// http://www.modularscale.com/?1,1.1665&em&1.333 //

@function pow($number, $exponent)
	$value: 1
	@if $exponent > 0
		@for $i from 1 through $exponent
			$value: $value * $number
	@return $value // value is integer, so must be given a unit separately

$ratio: 1.333
$msa1: 1.000rem
$msa0: $msa1 / pow($ratio, 1) // 0.750rem
$msa2: $msa1 * pow($ratio, 1) // 1.333rem
$msa3: $msa1 * pow($ratio, 2) // 1.777rem
$msa4: $msa1 * pow($ratio, 3) // 2.369rem
$msa5: $msa1 * pow($ratio, 4) // 3.157rem
$msa6: $msa1 * pow($ratio, 5) // 4.209rem
$lnht: $msa2 / 2 // 0.6665rem

// *********************************************************** //
// Colors based on https://tallys.github.io/color-theory/ //

@function is-cool-color($color)
	@return hue($color) < 300 and hue($color) > 120

@function is-high-key-value($color)
	@return hue($color) > 30 and hue($color) < 140

@function is-high-key-value($color)
	@return hue($color) > 50 and hue($color) < 105

@function harmonious-mix($mix, $base)
	@if is-cool-color($mix)
		@if is-high-key-value($base)
			@return mix($mix, $base, 11%)
		@else
			@return mix($mix, $base, 16%)
	@else
		@if is-high-key-value($base)
			@return mix($mix, $base, 13%)
		@else
			@return mix($mix, $base, 23%)

@function mix-neutral($color)
	@if is-highest-key-value($color)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 19%)
		@else
			@return mix(complement($color), $color, 13%)
	@else if is-high-key-value($color)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 31%)
		@else
			@return mix(complement($color), $color, 23%)
	@else
		@if is-highest-key-value(complement($color))
			@return mix(complement($color), $color, 31%)
		@if is-high-key-value(complement($color))
			@return mix(complement($color), $color, 26%)
		@else
			@return mix(complement($color), $color, 23%)

$blu-primary: hsla(194, 100%, 50%, 1) // Don't use this; use the mixed version instead
$ong-primary: hsla(33, 100%, 50%, 1) // Don't use this; use the mixed version instead

$blu: darken(harmonious-mix($ong-primary, $blu-primary), 5%)
$ong: harmonious-mix($blu-primary, $ong-primary)
$blu-neutral: mix-neutral($blu)
$ong-neutral: mix-neutral($ong)
$white: lighten($blu-neutral, 54.5%)
$black: darken($blu-neutral, 41%)

// *********************************************************** //
// Site-wide styles //

body
	margin: 0
	padding: 0
	font-family: $mainfont
	font-size: 16px
	font-size: 100%
	font-size: 1em
	font-size: $msa1
	line-height: $lnht * 2
	background-color: $white
	color: $black
	box-sizing: border-box

.header, .app, .footer
	max-width: $msa1 * pow($ratio, 15) // 74.551rem // 1192.8px
	margin-left: auto
	margin-right: auto
	padding: (2 * $lnht) 0

.header
	display: flex
	justify-content: space-between
	align-items: baseline
	border-bottom: 1px solid darken($blu, 15%)
	.title-area
		order: 0
	nav
		order: 1
		flex-grow: 1

main
	min-height: 10 * $lnht

.footer
	text-align: center
	border-top: 1px solid darken($blu, 15%)

a
	text-decoration: none
	&:link, &:visited
		color: $ong
	&:hover, &:active
		color: darken($ong, 15%)
	&:focus
		outline: 1px solid rgba(darken($blu, 15%), 0.3)

.menu
	text-align: right
	li
		display: inline-block
		margin: 0 $lnht * 2
		padding: 0
		font-size: $msa2
		line-height: $lnht * 2

.site-title
	margin-bottom: $lnht
	a
		color: darken($blu, 20%)

.site-subtitle
	font-style: italic

h1, h2, h3, h4, h5, h6, .lang, .menu
	font-family: $langfont

h1, h2, h3, h4, h5, h6
	text-rendering: optimizeLegibility

h1
	color: darken($blu, 20%)
	font-size: $msa5
	line-height: 6 * $lnht
	margin: 0 0 (4 * $lnht)
	padding: 0
h2
	color: darken($blu, 10%)
	font-size: $msa4
	line-height: 4 * $lnht
	margin: 0 0 (3 * $lnht)
	padding: 0
h3
	color: darken($blu, 8%)
	font-size: $msa3
	line-height: 3 * $lnht
	margin: 0 0 (2 * $lnht)
	padding: 0
h4
	color: darken($blu, 5%)
	font-size: $msa2
	line-height: 3 * $lnht
	margin: 0 0 (2 * $lnht)
	padding: 0
h5
	color: darken($blu, 2%)
h5, p
	font-size: $msa1
	line-height: 2 * $lnht
	margin: 0 0 (2 * $lnht)
	padding: 0
h6
	color: $blu
	font-size: $msa0
	line-height: 2 * $lnht
	margin: 0 0 $lnht
	padding: 0

// *********************************************************** //
// Home styles //

.grid
	display: flex
	justify-content: space-between
	align-items: baseline
	flex-wrap: wrap
	a
		color: $black
		width: 49%
		margin-bottom: $lnht
		&:hover
			outline: 1px solid rgba(darken($blu, 15%), 0.3)

// *********************************************************** //
// Gen styles //

// *********************************************************** //
// Morph styles //

// *********************************************************** //
// Deriv styles //

// *********************************************************** //
// Frequen styles //
